-# edit.html.haml using partial

%h2 Edit Existing Item

= form_tag item_path(@item), :method => :put do

  = label :item, :category, 'Category'
  = select :item, 'category', Category.all.pluck(:name)

  = label :item, :name, 'Name'
  = text_field :item, 'name'

  = label :item, :condition, 'Condition'
  = text_field :item, 'condition'

  = label :item, :available, "Availability"
  = select :item, :available, ['1', '0']

  = label :item, :description, "Description"
  = text_field :item, 'description'

  = label :item, :purchase_link, "Purchase Link"
  = text_field :item, "purchase_link"

  = submit_tag 'Update Item Info', :class => 'btn btn-primary'
