-# edit.html.haml using partial

%h2 Edit Existing Item

= form_tag item_path(@item), :method => :put do

  %center= label :item, :category, 'Category'
  %center= select :item, 'category', Category.all.pluck(:name)
%h5
  %center= label :item, :name, 'Name'
  %center= text_field :item, 'name', size: "20x5"
%h5
  %center= label :item, :available, "Availability"
  %center= select :item, :available, ['1', '0']
%h5
  %center= label :item, :description, "Description"
  %center= text_area :item, 'description', :size => '40x5'
%h5 
  %center= label :item, :purchase_link, "Purchase Link"
  %center= text_field :item, "purchase_link"

%h6
  %center= submit_tag 'Update Item Info', :class => 'btn btn-primary'
%br
  = link_to 'Back to All Items List', items_path, {:style => 'text-decoration: none', :class => 'btn btn-primary'}
