-# edit.html.haml using partial

%h2 Edit Existing Item

= form_tag item_path(@item), :method => :put do

  = label :item, :category, 'Category'
  = select :item, 'category', Category.all.pluck(:name)
  %br
  %br
  = label :item, :name, 'Name'
  = text_field :item, 'name', size: "20x5"
  %br
  %br
  = label :item, :available, "Availability"
  = select :item, :available, options_for_select([['YES', 1], ['NO', 0]]),:class => 'body1'
  %br
  %br
  = label :item, :description, "Description"
  %br
  = text_area :item, 'description', :size => '40x5'
  %br
  %br
  = label :item, :purchase_link, "Purchase Link"
  = text_field :item, "purchase_link"

  %br
  %br
  = submit_tag 'Update Item Info', {:class => 'btn btn-primary'}
%br
%br
= link_to 'Back to All Items List', items_path, {:style => 'text-decoration: none', :class => 'btn btn-primary'}
