-#  This file is app/views/items/index.html.haml
%h2 All Lab Equipment

= form_tag items_path, :id => 'categories_form', :method => :get do
  Include:
  - @all_categories.keys.each do |category|
    = category
    = check_box_tag "categories[#{category}]", true, @selected_categories[category]
  = submit_tag 'Refresh', :id => 'categories_submit'

%table#items.table.table-striped.col-md-12
  %thead
    %tr
      %th
      %th{:class => @category_header}= link_to 'Equipment Category', items_path(:sort_by => 'category'), :id => 'category_header'
      %th{:class => @name_header}= link_to 'Name', items_path(:sort_by => 'name'), :id => 'name_header'
      %th Quantity
      %th Purchase Link

  %tbody
    - @items.each do |item|

      %tr
        - if get_item_quantity(item.name) < 5
          %td= raw("&#x2757")
        - else
          %td
        %td= item.category
        %td= link_to "#{item.name}", item_path(item)
        %td= get_item_quantity(item.name)
        %td= link_to item.purchase_link, "http://#{item.purchase_link}"

= link_to 'Add new item', new_item_path
