 
%h2 Add a New Item

= form_tag items_path do
  
  
  %br
  = label :item, :category, 'Category'
  = select :item, 'category', Category.all.pluck(:name)
  %br
  %br
  = label :item, :name, 'Name'
  = text_field :item, :name, :class => 'body1'
  %br
  %br
  = label :item, :quantity, 'Quantity'
  = number_field :item, :quantity, :class => 'body1'
  %br
  %br
  = label :item, :condition, 'Condition'
  = number_field :item, :condition, :class => 'body1'
  %br
  %br
  = label :item, :available, 'Available'
  = select :item, :available, options_for_select([['YES', 1], ['NO', 0]]),:class => 'body1'
  %br
  %br
  = label :item, :purchase_link, 'Item Link'
  = text_field :item, :purchase_link, :class => 'body1'
  %br
  %br
  = label :item, :description, 'Description'
  %br
  = text_area :item, 'description', :size => '40x5'
  
  %br
  %br
  = submit_tag 'Save Changes', {:style => 'text-decoration: none', :class => 'btn btn-primary'}
  %br
  %br
= link_to 'Back to All Items List', items_path, {:style => 'text-decoration: none', :class => 'btn btn-primary'}

