-# in app/views/items/show.html.haml

%h3 Details about #{@item.name}

%ul#details
  %h5
    Category:
    = @item.category
  %h5
    Current Quantity:
    = @item.quantity
  %h5
    Description:
    = @item.description

= link_to 'View Item List', "/items/#{@item.id}/show_specific_item_list/#{@item.name}", {:style => 'text-decoration: none', :class => 'btn btn-primary'}

= link_to 'Edit', edit_item_path(@item), {:style => 'text-decoration: none', :class => 'btn btn-primary'}
= link_to 'Back to All Items List', items_path, {:style => 'text-decoration: none', :class => 'btn btn-primary'}
