%h2 #{@item_name} Item list

%table#item_table.table.table-striped.col-md-12
  %thead
    %tr
      %th Category
      %th Availibility
      %th Condition
      %th Check-In/Check-Out
      %th Change Condition
      %th Delete
      %th Serial
      %th Change Serial
  %tbody
    - @item_list.each do |item|
      %tr
        %td= item.category
        %td= (item.available == 1 ? "Yes" : "No")
        %td= item.condition
        %td
          = link_to 'CI', check_in_check_out_item_path(item, check_in: true), class: "btn btn-warning check-in #{item.available > 0 ? 'hidden' : ''}"
          = link_to 'CO', check_in_check_out_item_path(item, check_out: true), class: "btn btn-warning check-out #{item.available > 0 ? '' : 'hidden'}"
        %td
          = form_tag item_path(item, :name => @item_name), :method => :put do
            = label :item, :condition, 'Change Condition'
            = number_field :item, :condition, min: 1, max: 10
            = submit_tag 'Update Item', method: :show_edit, :class => 'btn btn-primary'
        %td
          = button_to 'Delete', item_path(item, :name => @item_name), :confirm => 'Are you sure?', :class => 'btn btn-primary', method: :delete
        %td= (item.serial == nil ? "No Serial" : item.serial)
        %td
          = form_tag item_path(item, :name => @item_name), :method => :put do
            = label :item, :serial, 'Change Serial'
            = text_field :item, :serial
            = submit_tag 'Update Item', method: :show_edit, :class => 'btn btn-primary'

= link_to 'Back to All Items List', items_path


= render partial: 'paginate', locals: { resources: @item_list }



